$maincolor : #69C399;
$secondcolor:#2578AE;

@mixin transform($element){
    
    transform:$element;
    -webkit-transform:$element;
    -moz-transform:$element;
    -o-transform:$element;
}

*{
    box-sizing: border-box;
}


body{
 font-family: 'Open Sans', sans-serif;
text-transform: capitalize;
    font-size: 22px;
    height: 2000px;
    
}

/*start  navbar section*/
.navbar
{
    
    position: fixed;
    z-index: 1;
    
}
.navbar-light .navbar-brand {
    color: rgba(0,0,0,.9);
    margin-bottom: 20px;
    font-size: 32px;
    font-weight: bold;
}
.navbar-light .navbar-nav .nav-link {
    color: rgba(0,0,0,.5);
    margin-top: -9px;
    margin-left: 78px;
    padding-top: 20px;
    transition: all 1s ease-in-out;
}

.dropdown-item{
    padding-top: 10px;

}
.dropdown-item:hover{
    
    color: $maincolor;
    
}

.row .col .dropdown-item
{
    display: inline-block;
}

/*start main section*/
.main{
    margin-bottom: 50px;
    width: 100%;
    height:600px;
    background: url(../images/network-room.jpeg) fixed ;
    min-height: 300px;
   
    
    
    .search{
        min-height: 300px;
     margin-top: 230px;
    width: 583px;
        height: 346px;
    background-color: black;
    color: white;
    opacity: 0.7;
        text-align: center;
        
    }
    input{
    width: 100%;
    font-size: 13.5px;
    font-family: "Open Sans";
    color: #fff;
    border: 1px solid #22262f;
    border-radius: 50px;
    padding: 15px 20px 15px 30px;
    background-color: #22262f;
    outline: 0;
        font-size: 20px;
    transition: 0.5s;    
    }
    
    ul li{
            display: inline-block;
    text-decoration: none;
    padding-left: 52px;
    float: left;
        padding-top: 23px;
    }
}

/*start best plan section*/

.plan{
    text-align: center;
    margin-bottom: 50px;
    p{
        color: #CACACA;
        margin-bottom: 30px;
        
    };
    
    .col-md-3,.col-xs-12{
       margin-left: 90px;
        margin-bottom: 50px;
        width: 100%;
        height: 500px;
        transition: 0.5s;
        border: 1px solid white ;
        border-left-color: aqua;
        border-bottom-color: white;
        border-right-color: aqua;
        border-top-color: white;
        
        
    .former{
        color: #CACACA;
    };
    
    ul
    {
        padding-top: 50px;
        
        li{
            padding-bottom: 5px;
            text-decoration: none;
            font-size: 14px;
        };
    };
        button{
                color: $maincolor;
                border: 1px solid $maincolor;
            background-color: white;
            
        }
        
        button:hover{
            
            background-color: $maincolor;
            color: black;
        } ;   
    };
  .col-md-3:hover,.col-xs-12:hover{
        box-shadow: 0px 5px 0 2px #75d69c80, 0 5px 25px 0 #75d69c6e;
        @include transform(scale(1))
      
    };
};

/*start why section*/
.why
{
    margin-bottom: 50px;
    padding-bottom: 150px;
    @extend .main;
    @extend .plan;
    .col-md-3,.col-xs-12
    {
        background-color: white;
        height: 300px;
    }
    @extend .col-md-3;
        @extend .col-xs-12;
    .fab{
        color: white;
        background-color: white;
    }
}

/*start our services section*/

.services
{
    background-color: #F6F6F6;
    @extend .plan;
    .col-md-4,.col-xs-6{
        margin-bottom: 50px;
        padding-bottom: 50px;
        width: 100%;
        
        transition: 0.5s;
        border: 1px solid white ;
        border-left-color: aqua;
        border-bottom-color: white;
        border-right-color: aqua;
        border-top-color: white;
    }
    
      .col-md-4:hover,.col-xs-6:hover{
        box-shadow: 0px 5px 0 2px #75d69c80, 0 5px 25px 0 #75d69c6e;
        @include transform(scale(1))
      
    };
    .btn:hover{
        background-color:$maincolor;
    }
    
}

/*start our contact us section*/
.contact-us{
    input{
        padding: 18px 33px;
    width: 100%;
    border: solid 1px #efefef;
    margin-bottom: 33px;
        
   
    }
    
    p{
        font-size: 18px;
    }
    
    .col-md-4{
        background-color: $maincolor;
        color: white;
        margin-left: 110px;
    }
    
    .col-md-6 .col-md-5{
        
        input{
                padding: 18px 33px;
    width: 100%;
    border: solid 1px #efefef;
        }
    }
    .btn{
        background-color: $maincolor;
        padding: 15px;
    transition: all 0.5s ease;
    
    font-size: 20px;
    }
    .btn:hover{
        background-color: #808080;
    }
    
}


/*start info section*/

.info{
    .info-at{
        
        background-color: #22262F;
    }
    
}